
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";


@theme {
 
  --font-inter: "Inter", sans-serif; 

  /* Breakpoints */
  --breakpoint-xsm: 375px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-recommend: 1440px;
  --breakpoint-large: 1700px;
}


html {
  scroll-behavior: smooth;
}
